#root{
    background-color: #f6f7f7;
    height: 100vh;
}
#app{
    background-color: white;
    width: 460px;
    height: 240px;
    border-radius: 15px;
    padding: 10px;
    position: relative;
    left : 30%;
    top : 50px
}
h1{
    text-align: center;
    font-family: Arial, sans-serif;
}
.inputbox{
    display: flex;
    justify-content: center;
    position: relative;
    left: 50%;
}
button{
    font-family: Arial, sans-serif;
    padding: 5px;
    margin-left: 10px;
}
input{
    font-family: Arial, sans-serif;
    padding: 5px;
    width: 40%;
}
.completed{
    text-decoration: line-through;
}